<div class="container mt-4 p-3">
    <h2>Create New Post</h2>
    <form [formGroup]="postForm" (ngSubmit)="submitPost()">
      <div class="mb-3">
        <label class="form-label">Choose your Apartment/Building *</label>
        <select class="form-select" formControlName="apartmentOption">
          <option value="">Select an option</option>
          <option *ngFor="let apt of apartmentOptions" [value]="apt">{{ apt }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Post Tittle *</label>
        <input type="text" class="form-control" formControlName="title">
      </div>

      <div class="mb-3">
        <label class="form-label">Full Name *</label>
        <input type="text" class="form-control" formControlName="fullName">
      </div>

      <div class="mb-3">
        <div class="mb-3">
          <label class="form-label">Property Location *</label>
          <input type="text" class="form-control" formControlName="location">
        </div>
        <label class="form-label">Is this a shared property? *</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="true" formControlName="isShared">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="false" formControlName="isShared">
          <label class="form-check-label">No</label>
        </div>
      </div>
   
      
   
      <div class="mb-3">
        <label class="form-label">Property Details (Square Feet) *</label>
        <input type="number" class="form-control" formControlName="squareFeet">
      </div>
   
      <div class="mb-3">
        <label class="form-label">Expected Rent *</label>
        <input type="number" class="form-control" formControlName="rent">
        <div class="form-check m-3">
          <input class="form-check-input" type="checkbox" formControlName="isNegotiable">
          <label class="form-check-label">Negotiable</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="per month" formControlName="priceMode">
          <label class="form-check-label">Per Month</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="per day" formControlName="priceMode">
          <label class="form-check-label">Per Year</label>
        </div>
      </div>
   
      <div class="mb-3">
        <label class="form-label">Is the room/apartment furnished? *</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="true" formControlName="furnished">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="false" formControlName="furnished">
          <label class="form-check-label">No</label>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Stay/lease type*</label>
        <div class="form-check" *ngFor="let lease of leaseType">
          <input class="form-check-input" type="radio" [value]="lease" formControlName="leased">
          <label class="form-check-label">{{ lease }}</label>
        </div>
        
      </div>
      <div class="mb-3">
        <label class="form-label">Amenities Included *</label>
        <div *ngFor="let amenity of amenities" class="form-check">
          <input (change)="selectedAmenities(amenity)" type="checkbox" class="form-check-input" [value]="amenity" formControlName="amenities">
          <label class="form-check-label" for="{{amenity}}">{{ amenity }}</label>
        </div>
      </div>
   
      <div class="mb-3">
        <label class="form-label">Description *</label>
        <textarea class="form-control" formControlName="description"></textarea>
      </div>
   
      <div class="form-group">
        <label for="photos">Upload Photos (1-5 images)*:</label>
        <input
          type="file"
          id="photos"
          (change)="onFileChange($event)"
          class="form-control"
          multiple
          accept="image/*"
        >
        <div *ngIf="photoError" class="text-danger">
          {{ photoError }}
        </div>
       
        <!-- Preview Images -->
        <div class="preview-images mt-2">
          <img *ngFor="let img of imagePreviews" [src]="img" class="img-thumbnail" width="100">
        </div>
      </div>
   
      <button type="button" class="btn btn-secondary" (click)="previewPost()">Preview</button>
      <button type="submit" class="btn btn-primary ms-2">Submit</button>
      <button type="submit" class="btn btn-primary ms-2" (click)="goHome()">Go Home</button>
  </form>
</div>